
/*
Starting with universals and the homepage specific styling
*/
*{
    font-family: 'Barlow Condensed', 'Inter', system-ui, sans-serif;
    margin: 10px;
}

.content{
    margin-top: 10em;
    box-sizing: flex;
    display: block;
    text-align: center;
}


#hero-image{
    display: inline-block;
    width: 400px;
    margin-left: 500px;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}


.navigation{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
    align-items: stretch;
    margin: 0 auto;
    padding: 0px;
}


.navigation .nav-item{
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    flex: 1;
}


.navigation .nav-item:hover{
    background-color: darkgoldenrod;
}

.navigation a{
    text-decoration: none;
    font-size: 28px;
    color: black;
}





/*
Styles for Recipe Pages-starting with Lasagna
*/
.recipe-name{
    font-size: 46px;
    font-weight: 600;
    text-align: center;
}

.meal{
    display: block;
    width: 1000px;
    height: fit-content;
    margin: auto;
}


.ingiheader{
    display: block;
    text-align: center;
    background-color: burlywood;
    padding: 10px;

}

.ingredients{
    background-color: bisque;
    padding: 10px;
}

.item{
    box-sizing: flex;
    padding: 10px;
    border: 2px solid black;
}

.recipe-steps{
    text-align: center;
    background-color: #FFD700;
    padding: 10px;
}

.steps{
    background-color: #51e2f5;
}

/* cikofte page specifics*/

.cikofte-flexbox{
    display: flex;
}

.cikofte-one{
    flex: 1;
    width: 30%;
    margin: left;
}

.cikofte-two{
    flex:  1;
    width: 30%;
    margin: right;
    vertical-align: center;
}

.ingredients-flex{
    flex: 1;
    margin-top: 0px;
    background-color: #f8f8f8;
    height: fit-content;
}

.ingredients-flex .header{
    text-align: center;
    font-size: 200%;
    padding-top: 10px; 
    margin-top: auto;
    margin-bottom: 2em;
    height: fit-content;

}

.ingredients-flex ul{
    font-size: 22px;
    height: fit-content;

}

.cikofte-howto{
    padding: 10px;
    margin: 10px;
    background-color:#f8f8f8;
}

.cikofte-howto #header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 2em;

}
.cikofte-howto ol{
    font-size: 110%;
}

/* Yayla Soup Page specifics*/

#yayla-title{
    text-align: center;
    font-size: 300%;
}

.yayla-flex{
    display: flex;
}

.yayla-flex img{
    flex: 2;
    height: auto;
}

.yayla-flex div{
    flex: 1;
    font-size: 110%;
}

.yayla-flex h2{
    font-size: 200%;
    text-align: center;
    margin-bottom: 0.5em;

}  
.yayla-flex p{
    background-color: #f8f8f8;
    text-align: justify;
    font-size: 160%;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
}

.yayla-howto{
    outline: 2px solid red;
    background-color: #fffff3;
}

.yayla-howto h2{
    text-align: center;
    padding: 0.5em;
}
.yayla-howto ol{
    padding-bottom: 0.5em;
}

 

