
/*
Starting with universals and the homepage specific styling
*/
*{
    font-family: 'Barlow Condensed', 'Inter', system-ui, sans-serif;
    margin: 10px;
}

.content{
    margin-top: 10em;
    box-sizing: flex;
    display: block;
    text-align: center;
}

#header{
    
}

#hero-image{
    display: inline-block;
    width: 400px;
    margin-left: 500px;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
}

.recipes{
    display: inline-block;
    vertical-align: middle;
    background-color:  #FFD700;
    font-size: 25px;
    text-align: center;
}



nav a {
    display: block;
    box-sizing: border-box;
    height: 50px;
    color: black;
    font-size: 30px;
    border: 2px solid black;

}

/*
Styles for Recipe Pages-starting with Lasagna
*/
.recipe-name{
    font-size: 46px;
    font-weight: 600;
    text-align: center;
}

.meal{
    display: block;
    width: 1000px;
    height: fit-content;
    margin: auto;
}


.ingiheader{
    display: block;
    text-align: center;
    background-color: burlywood;
    padding: 10px;

}

.ingredients{
    background-color: bisque;
    padding: 10px;
}

.item{
    box-sizing: flex;
    padding: 10px;
    border: 2px solid black;
}

.recipe-steps{
    text-align: center;
    background-color: #FFD700;
    padding: 10px;
}

.steps{
    background-color: #51e2f5;
}

/* cikofte page specifics*/

.cikofte-flexbox{
    display: flex;
}

.cikofte-one{
    flex: 1;
    width: 30%;
    margin: left;
    height: auto;
    vertical-align: center;
}

.cikofte-two{
    flex:  1;
    width: 30%;
    margin: right;
    height: fit-content;
    vertical-align: center;
}

.ingredients-flex{
    flex: 1;
    margin-top: 0px;
    background-color: #f8f8f8;

}

.ingredients-flex .header{
    text-align: center;
    font-size: 32px;
    padding-top: 10px; 
    margin-top: auto;
    margin-bottom: 30px;
}

.ingredients-flex ul{
    font-size: 24px;
}

.cikofte-howto{
    padding: 10px;
    margin: 10px;
    background-color:#f8f8f8;
}

.cikofte-howto #header{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;

}
.cikofte-howto ol{
    font-size: 18px;
}